@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(2, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes typing {
  from { width: 0; }
  to { width: 70%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.typing-effect {
  overflow: hidden; /* Ensures the text is hidden until typed */
  border-right: .15em solid white; /* Creates the caret effect */
  white-space: nowrap; /* Prevents text from wrapping */
  animation: typing 3s steps(30, end), blink-caret .75s step-end infinite;
}
.parallax {
  background-size: cover;
  background-position: center;
}

@keyframes slideInFromTop {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    transform: translateX(28);
    opacity: 1;
  }
}

.welcome-container {
  animation: slideInFromTop 3s ease-in-out;
}

.shadow-image {
  box-shadow: 0px 20px 10px rgb(0, 0, 0);
}


