@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arima:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Arima:wght@100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: "Anton", sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
  /* letter-spacing: 1px; */
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(2, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

@keyframes typing {
  from { width: 0; }
  to { width: 50%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.typing-effect {
  border-right: .15em solid white; /* Creates the caret effect */
  animation: blink-caret .75s step-end infinite;
}
.parallax {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(28);
    opacity: 1;
  }
}

.welcome-container {
  animation: slideInFromTop 3s ease-in-out;
}

.shadow-image {
    backdrop-filter: blur(10px); /* Applies a blur effect to the background */
  }

.bordered-text {
  position: relative;
  color: transparent; /* Make the text itself transparent */
  -webkit-text-stroke: 1px rgb(255, 255, 255); /* Outline the text for WebKit browsers */
  font-weight: bold;
}

.bordered-text::before {
  content: 'Welcome';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255); /* Outline the text for WebKit browsers */
  clip-path: text; /* Clips the blurred element to the shape of the text */
  z-index: 2; /* Make sure it is behind the text */
}

.background {
  background-size: cover; /* Ensures the background covers the element */
  background-position-y: 0px; /* Centers the background */
}

.overlay {
  background-position-y: 0px; /* Centers the background */
}

.section {
  margin: 0; /* Ensures no margin around sections */
  padding: 0; /* Ensures no padding around sections */
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.icon {
  position: relative;
  display: inline-block;
}

.icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon:hover::before {
  opacity: 1;
}

.icon i {
  position: relative;
  z-index: 1;
}

.icon-gradient {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-gradient:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instagram-icon svg .instagram-path {
  stroke: white;
}

.instagram-icon:hover svg .instagram-path {
  stroke: url(#instagramGradient);
}

.instagram-icon:hover svg .instagram-dot {
  stroke: rgb(255, 72, 0);
}

@keyframes gradient-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.triangleOut {
  --r:3px; /* border radius */

  width: 30px;
  aspect-ratio: 1/cos(30deg);
  --_g:calc(tan(60deg)*var(--r)) bottom var(--r),#000 98%,#0000 101%;
  -webkit-mask:
    conic-gradient(from -30deg at 50% calc(200% - 3*var(--r)/2),#000 60deg,#0000 0)
    0 100%/100% calc(100% - 3*var(--r)/2) no-repeat,
    radial-gradient(var(--r) at 50% calc(2*var(--r)),#000 98%,#0000 101%),
    radial-gradient(var(--r) at left  var(--_g)),
    radial-gradient(var(--r) at right var(--_g));
  clip-path: polygon(50% 0,100% 100%,0 100%);
  object-fit: cover;
  background: linear-gradient( #ff00ff, #4b9fff, #ff1212);
  display: inline-block;
  transition: all;
}

.triangleFooter {
  --r:10px; /* border radius */

  width: 140px;
  aspect-ratio: 1/cos(30deg);
  --_g:calc(tan(60deg)*var(--r)) bottom var(--r),#000 98%,#0000 101%;
  -webkit-mask:
    conic-gradient(from -30deg at 50% calc(200% - 3*var(--r)/2),#000 60deg,#0000 0)
    0 100%/100% calc(100% - 3*var(--r)/2) no-repeat,
    radial-gradient(var(--r) at 50% calc(2*var(--r)),#000 98%,#0000 101%),
    radial-gradient(var(--r) at left  var(--_g)),
    radial-gradient(var(--r) at right var(--_g));
  clip-path: polygon(50% 0,100% 100%,0 100%);
  object-fit: cover;
  background: rgb(0, 255, 221);
  display: inline-block;
}

.shadow {
  box-shadow: 0 0 20px 10px rgb(255, 255, 255); /* Glowing effect */
}

.color {
  position: absolute;
  top: -9px;
  left: -10px;
  width: 50px;
  height: 50px;
  background: conic-gradient(#ff00ff, #00d9ff, #ff1212, #eeff00);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: gradient-rotation 2s linear infinite;
  z-index: 998; /* Ensure it is behind the white dot */
}


.triangleOut::before {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.triangleFooter::before {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.ServiceButton:hover .hoverEffect {
  color: rgb(199, 199, 199);
  transition: all 0.3s ease-in-out;
}

.descriptionClass {
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  backdrop-filter: blur(10px);
  max-height: 0;
  opacity: 0;
  z-index: 9999;
}

.descriptionClass.max-h-40 {
  max-height: 10rem; /* Adjust as needed */
  opacity: 1;
}

.popup {
  position: absolute;
  top: 100%; /* Position below the button */
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.popup.visible {
  max-height: 40rem; /* Adjust based on your content */
  opacity: 1;
  z-index: 999; /* Ensure it appears above other content */
}

.zindex {
  z-index: 0;
}
.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.loading-ring0 {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(146, 0, 146);
  animation: rotate 2s linear infinite;
}
.loading-ring {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(150, 0, 150);
  animation: rotate 2s linear infinite;
}
.loading-ring1 {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(255, 134, 255);
  animation: rotate1 2s linear infinite;
}
.loading-ring2 {
  position: absolute;
  border-radius: 50%;
  background-color: magenta;
  animation: rotate2 2s linear infinite;
}

.circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background-color: #000;
  border-radius: 50%;
  color: white;
  z-index: -1;
}

.loading-ring span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2em;
  z-index: 999;
  animation: none; /* Ensure the text does not animate */
}



@keyframes rotate {
  0% {
    transform: rotate(360deg);
    width: 150px;
    height: 180px;
  }
  50% {
    transform: rotate(180deg);
    width: 180px;
    height: 150px;
  }
  100% {
    transform: rotate(0deg);
    width: 150px;
    height: 180px;
  }
}
@keyframes rotate1 {
  0% {
    transform: rotate(360deg);
    width: 150px;
    height: 180px;
  }
  50% {
    transform: rotate(180deg);
    width: 150px;
    height: 180px;
  }
  100% {
    transform: rotate(0deg);
    width: 150px;
    height: 180px;
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    width: 180px;
    height: 150px;
  }
  50% {
    transform: rotate(180deg);
    width: 150px;
    height: 180px;
  }
  100% {
    transform: rotate(360deg);
    width: 180px;
    height: 150px;
  }
}

.fixed-navbar {
  position: fixed;
  width: 100%;
  z-index: 50; /* Ensure this is higher than the backdrop filter */
}

.backdrop-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100; /* Ensure this is higher than the fixed navbar */
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px 1px rgb(255, 255, 255);
  border: solid 5px transparent;
  
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgb(255, 255, 255);
  border: solid 3px transparent;
  border-radius: 10px;
}

.glow-on-hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.glow-on-hover:hover {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}